.settings-container {
  margin: 10px;
  /* padding: 10px; */
  padding-bottom: 0;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  border-radius: var(--border-radius);

  /* min-height: calc(90vh - 60px); */
  /* background: #fff; */
  /* overflow-y: scroll; */
}

.settings-title {
  margin: 0;
  margin-bottom: 5px;
}

.users-settings {
  display: grid;
  grid-template-columns: 1fr 0.4fr 2fr;
  grid-template-rows: 1fr 1fr 0fr;
  gap: 15px 15px;
  grid-template-areas:
    "create-user create-user user-table "
    "create-user create-user user-table "
    ". . .";
  /* height: auto; */
  width: 100%;
}

.user-table {
  grid-area: user-table;
  background: #fff;
  border-radius: var(--border-radius);
  padding-top: 0;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.user-table table,
.bats-table table,
.site-table table {
  width: 100%;
  height: 15px;
  border-collapse: collapse;
}

.user-table th,
.bats-table th,
.site-table th {
  border-bottom: 1px solid #9ab4d8;
  padding: 6px 10px;
}
.user-table td,
.site-table td,
.bats-table td {
  border-bottom: 1px solid #1f2937;
  border-collapse: separate;
  text-align: center;
  padding: 4px 10px;
  color: #677383;
  cursor: default;
  font-size: 14px;
}
.bats-table .fixed-header,
.user-table .fixed-header,
.site-table .fixed-header {
  background: royalblue;
  color: #fff;
}
.bats-poss-table .fixed-header,
.user-poss-table .fixed-header,
.site-poss-table .fixed-header {
  background: #ff6c22;
  color: #fff;
}
.site-table tr:nth-child(even),
.bats-table tr:nth-child(even),
.user-table tr:nth-child(even) {
  background: #fdebed;
}
.create-user {
  padding: 10px;
  grid-area: create-user;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.edit-user,
.edit-site {
  padding: 10px;
  /* grid-area: create-user; */
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-top: 6px solid #bf710f;
  background: #fff;
}

.sites-settings {
  display: grid;
  grid-template-columns: 1fr 0.4fr 2fr;
  /* grid-template-rows: 0fr 0fr 0fr; */
  gap: 15px 15px;
  grid-template-areas: " create-site create-site site-table " ". . .";
  width: 100%;
}
.manage-bats {
  display: grid;
  grid-template-columns: 1fr 0.4fr 2fr;
  /* grid-template-rows: 0fr 0fr 0fr; */
  gap: 15px 15px;
  grid-template-areas: "create-bats create-bats bats-table " ". . .";
  width: 100%;
}
.bats-table {
  grid-area: bats-table;
  background: #fff;
  border-radius: var(--border-radius);
  padding-top: 0;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.create-bats {
  grid-area: create-bats;
  min-height: 300px;
  height: auto;
  padding: 10px;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.site-table {
  grid-area: site-table;
  background: #fff;
  border-radius: var(--border-radius);
  padding-top: 0;
  height: 302px;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.create-site-box {
  width: 100%;
}
.create-site {
  grid-area: create-site;
  padding: 10px;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.create-site-box {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.create-site-table {
  width: 100%;
  /* border: 1px solid var(--dark-blue); */
  border-top: 0;
  border-bottom: 0;
}
.create-site-table td {
  border-bottom: 1px solid var(--dark-blue);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.even {
  background: #f3f4f6;
}
.create-site-table .delete-icon {
  color: #dc2626;
  cursor: pointer;
  transition: 0.3s linear;
}
.create-site-table .delete-icon:hover {
  color: #991b1b;
}
.create-site-table .edit-icon {
  color: #fbbf24;
  cursor: pointer;
  transition: 0.3s linear;
}
.create-site-table .edit-icon:hover {
  color: #d97706;
}

/**
 * ----------------------------------------
 * animation slit-in-horizontal
 * ----------------------------------------
 */
.slit-in-horizontal {
  -webkit-animation: slit-in-horizontal 0.45s ease-out both;
  animation: slit-in-horizontal 0.45s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-13 20:14:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
}
@keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
}

.production-color {
  background: #4caf50;
  color: #1f2937;
  padding: 1px 3px;
  border-radius: var(--border-radius);
}
.poussiniere-color {
  background: #ffc107;
  color: #1f2937;
  padding: 1px 3px;
  border-radius: var(--border-radius);
}
.confirm-modal {
  text-align: center;
  background: #fff;
  backdrop-filter: blur(300px);
  padding: 1rem;
  color: var(--dark-blue);
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
  position: "absolute";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
}
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-6-6 12:37:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.confirm-btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.confirm {
  height: 40px;
  width: 180px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #50cb93;
  overflow: hidden;
  border-radius: var(--border-radius);
  /* background: #fff; */
  color: #50cb93;
  transition: all 0.5s ease-in-out;
}
.cancel {
  height: 40px;
  width: 180px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #ff5858;
  overflow: hidden;
  border-radius: var(--border-radius);
  color: #ff5858;
  transition: all 0.5s ease-in-out;
}
.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #50cb93;
  border-radius: var(--border-radius);
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.type2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #ff5858;
  border-radius: var(--border-radius);
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.confirm:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}
.cancel:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after,
.type2:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.show-alert {
  position: fixed;
  top: 85%;
  left: 70%;
  width: 420px;
  display: grid;

  /* grid-template-rows: auto 1fr auto; */
  /* row-gap: 20px; */
  transition: 0.7s ease-in-out;
  transform: translate(-100%);
  z-index: 10000;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.alert {
  transform: translate(0);
  -webkit-animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.show-error-alert {
  position: fixed;
  top: 85%;
  left: 70%;
  width: 420px;
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  /* row-gap: 20px; */
  transition: 0.7s ease-in-out;
  transform: translate(-100%);
  z-index: 10000;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.error-alert {
  transform: translate(0);
  -webkit-animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-6-6 21:26:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-6 21:24:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.custom-loader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: flex;
  color: #ff0060;
  z-index: 1000;
}

.custom-loader:before,
.custom-loader:after {
  content: "";
  flex: 1;
  margin: 0 0 0 -2px;
  --c: linear-gradient(currentColor 0 0);
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 100% 100%, var(--c) 0 100%,
    var(--c) 0 50%;
  background-repeat: no-repeat;
  animation: l7 1s infinite alternate;
}
.custom-loader:before {
  transform: scale(-1);
  margin: 0 -2px 0 0;
}

@keyframes l7 {
  0%,
  5% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0, 0 4px;
  }
  20% {
    background-size: 100% 4px, 4px 0, 0 4px, 4px 0, 0 4px;
  }
  40% {
    background-size: 100% 4px, 4px 100%, 0 4px, 4px 0, 0 4px;
  }
  60% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 0, 0 4px;
  }
  80% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 50%, 0 4px;
  }
  95%,
  100% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 50%, 100% 4px;
  }
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  /* .sites-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0fr 0fr;
    gap: 15px 15px;
    grid-template-areas:
      " create-site   .  "
      "site-table site-table  site-table "
      ". . .";
  } */
  .show-alert {
    position: fixed;
    top: 85%;
    left: 56%;
    width: 420px;
  }
  .show-error-alert {
    position: fixed;
    top: 85%;
    left: 56%;
    width: 420px;
  }
}

@media screen and (max-width: 768px) {
  .user-table td,
  .site-table td {
    font-size: 13px;
    padding: 4px;
  }
  .show-alert {
    position: fixed;
    top: 85%;
    left: 48%;
    width: 380px;
  }
  .show-alert strong {
    font-size: 12px;
  }
  .show-error-alert {
    position: fixed;
    top: 85%;
    left: 48%;
    width: 380px;
  }
  .show-error-alert strong {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .settings-container {
    margin: 0;
  }
  .create-site-box {
    height: 200px;
  }
  .users-settings {
    /* background: #000; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 0;
    grid-template-areas:
      "create-user create-user . "
      "user-table user-table  ."
      ". . .";
    /* height: auto; */
    width: 100%;
  }
  .sites-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 15px 0px;
    grid-template-areas:
      " create-site create-site  . "
      "site-table site-table  site-table "
      ". . .";
  }
  .manage-bats {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 15px 15px;
    grid-template-areas: "create-bats create-bats . " "bats-table bats-table bats-table " ". . .";

    width: 100%;
  }
  .show-alert {
    position: fixed;
    top: 10%;
    left: 2%;
    width: 310px;
  }
  .show-alert strong {
    font-size: 11px;
  }
  .show-error-alert {
    position: fixed;
    top: 10%;
    left: 2%;
    width: 310px;
  }
  .show-error-alert strong {
    font-size: 11px;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  border-radius: 20px;
  position: relative;
}

.settings-form .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
}

.settings-form-pouss .title {
  color: #ff6c22;
}

.settings-form-pouss .input {
  width: 96% !important;
}

.settings-form .title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.settings-form .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.settings-form-pouss .title::before,
.settings-form-pouss .title::after {
  background-color: #ff6c22;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 97%;
  gap: 20px;
}

.flex label {
  flex: 1;
}
.flex .select {
  /* flex: 1; */
  width: 100%;
}
.settings-form label {
  position: relative;
}

.settings-form label .input {
  width: 95%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  background: #fff;
  border-radius: 5px;
}

.settings-form label .input + span {
  position: absolute;
  left: 10px;
  top: 25px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.settings-form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.settings-form label .input:focus + span,
.settings-form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.settings-form label .input:valid + span {
  color: green;
}

.settings-form .submit {
  align-self: center;
  width: 20%;
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
}

.settings-form .submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
