.sites-bar {
  /* background-color: var(--bar-blue); */
  background-color: rgb(25, 118, 210, 0.3);
  width: 100%;
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* height: 10vh; */
}
.css-69z67c-MuiTabs-scroller {
  height: 100% !important;
}
.css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: space-between;
}

.site-button {
  font-size: 18px !important;
  color: #555555 !important;
  font-family: inherit !important;
  font-weight: 600 !important;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: 0.2s linear;
  padding: 14px;
  width: 100%;
  text-align: center;
}
.site-button:disabled {
  background-color: #e6e8e8;
  cursor: not-allowed;
  color: #888;
}
.site-button:disabled:hover {
  color: #888;
}
.site-button:disabled::after {
  color: #888;
  height: 0;
}
.btn-clicked {
  font-size: 18px !important;
  color: #ff6000 !important;
  font-family: inherit !important;
  background-color: #fff !important;
  font-weight: 600 !important;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  text-align: center;
  border: none;
}

.site-button:focus:after,
.site-button:hover:after {
  width: 100%;
  left: 0%;
}

.site-button:after {
  content: "";
  pointer-events: none;
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px !important;
  background-color: var(--dark-blue) !important;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

@media screen and (max-width: 767px) {
  .site-button {
    font-size: 12px;
    padding: 8px;
  }
  .btn-clicked {
    font-size: 15px;
    padding: 8px;
  }
}
.css-69z67c-MuiTabs-scroller {
  height: auto !important;
}
.css-1ujnqem-MuiTabs-root {
  width: 100%;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-top: 6px solid var(--red-color);
  background: #f5f5f5;
  grid-area: create-user;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}
.css-ypiqx9-MuiDialogContent-root {
  padding: 0 20px !important;
}
/* PRODUCTION && POUSSINIERE sWITCHING */
.batiment-category {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.batiment-category .batiment-selection {
  display: flex;
  /* width: 100%; */
  /* background-color: red; */
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
  margin-bottom: 0;
  align-items: flex-start;
}

.batiment-category label {
  width: 100%;
}
.batiment-category label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  background: #fff;
  border-radius: 5px;
}

.batiment-category label .input + span {
  position: relative;
  left: 10px;
  top: -22px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.batiment-category label .input:placeholder-shown + span {
  top: 0px;
  font-size: 0.9em;
}

.batiment-category label .input:focus + span,
.batiment-category label .input:valid + span {
  top: -20px;
  font-size: 0.7em;
  font-weight: 600;
}

.batiment-category label .input:valid + span {
  color: green;
}
.lot-creattion-form {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
/* Form Styles */
.poussiniere {
  /* position: relative; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.form {
  /* background: #eee; */
  /* position: absolute; */
  height: 100%;
  width: 90%;
}

.rating-container {
  display: flex;
}
.input__container-box {
  width: 100%;
  display: flex;
  justify-content: center;
  /* gap: 5px; */
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-label {
  cursor: pointer;
}
.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    forwards;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-6 15:59:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
.ic1 {
  margin-top: 10px;
}

.error {
  color: #dd4d51;
  padding: 0 5px 0 0;
}
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: var(--dark-blue);
  transition: color 0.3s;
}
.box {
  transition: max-height 0.3s ease;
  border-radius: 5px;
  /* margin: 10px 0; */
  width: 100%;
  position: relative;
}

.box.open .inputs-container {
  max-height: 1000px; /* Set a sufficiently large value to expand the box */
  /* background-color: #f0f5f9; */
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    forwards;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  /* display: flex; */
}
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #00bfff;
  /* width: 100%; */
  border-radius: 4px;
}
.box-header.viability {
  background: #ffe0c8;
  color: #0d1f2d;
}
.box-header.production-form {
  background: #8b4513;
  color: #fff;
}
.box-header.consommation {
  background: #61bc84;
  color: #1e1e1e;
}
.box-header.reforme {
  background: #546e7a;
  color: #eceff1;
}
.box-header.ambiance {
  background: #61dafb;
  color: #22223b;
}
.box-header.constats {
  background: #ffc000;
  color: #333;
}
.box-header.observation {
  background: #fd6a21e4;
  color: #333;
}
.box-icon {
  margin-right: 10px;
}

.box-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px 40px;
  padding: 8.5px;
  cursor: pointer;
  border-radius: 4px;
}
.box-content .inputs-container {
  margin-top: 5px;
}
.box-content .inputs-group {
  width: 46%;
}
.open .box-header {
  transition: 0.2s linear;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.box-content.viability {
  border: 2px solid #ffe0c8;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.box-content.production {
  transition: 0.3s linear;
  border: 2px solid #8b4513;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.box-content.consommation {
  border: 2px solid #61bc84;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.box-content.reforme {
  border: 2px solid #546e7a;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.box-content.ambiance {
  border: 2px solid #61dafb;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.box-content.constat {
  border: 2px solid #ffc000;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.box-content.observation {
  border: 2px solid #fd6a21e4;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* /urgernt */

.urgent {
  cursor: pointer;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  background-color: rgb(255, 255, 255);
  padding: 0.8rem;
  width: 33rem;
}

/* ! plus button */

/* Note that you only needs to edit the config to customize the button! */

.plusButton {
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #e4e4e4;
  overflow: hidden;
  border-radius: 4px;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength)
    var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton > .plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover > .plusIcon {
  fill: #36b416;
  transform: rotate(180deg);
}

.plusButton:focus-visible > .plusIcon {
  fill: #36b416;
  transform: rotate(180deg);
}

/* ////////// */

/* Delete Observation */
.observation .delete {
  margin: 0;
  border: 0;
  color: #cc0000;
  padding: 4px;
  cursor: pointer;
  font-size: 35px;
  background-color: transparent;
  border: 1px solid #cc0000;
}
.observation .delete:hover {
  transition: 0.4s ease-in-out;
  font-size: 40px;
  background-color: var(--red-color);
  color: #fff;
}
.observation .edit {
  margin: 0;
  border: 0;
  color: #cc6900;
  padding: 4px;
  cursor: pointer;
  font-size: 35px;
  background-color: transparent;
  border: 1px solid #cc6900;
}
.observation .edit:hover {
  transition: 0.4s ease-in-out;
  font-size: 40px;
  background-color: #cc6900;
  color: #fff;
}

/* ADD OBSERVATION */

.observation-placeholder {
  color: #6b79a0;
  /* font-family: sans-serif; */
  left: 10px;
  line-height: 14px;
  pointer-events: none;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 10px;
  /* background-color: #ecfcff; */
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.ajouter {
  background-color: #2e8b57 !important;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 7px 15px;
  text-align: center;
  width: fit-content;
  transition: 0.4s linear;
}
.modifier {
  background-color: #ffbb5c !important;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 7px 15px;
  text-align: center;
  width: fit-content;
  transition: 0.4s linear;
}

.observ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: var(--border-radius);
  height: 40px;
  position: relative;
  width: 100%;
}
/* !Radion buttons Urgent */
.radio-button-form {
  --background: #eee;
  --text: #1356dd;
  --radio: #3974b4;
  --radio-checked: #4f29f0;
  --radio-size: 20px;
  --width: 150px;
  --height: 12px;
  --border-radius: 10px;
  background: var(--background);
  /* width: var(--width); */
  /* height: var(--height); */
  width: fit-content;
  border-radius: var(--border-radius);
  color: var(--text);
  position: relative;
  box-shadow: 0 10px 30px #4148560d;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-button-form label {
  cursor: pointer;
  margin: 3px;
}
.radio-button-form input[type="radio"] {
  display: none;
}
.radio-button-form .good {
  background-color: #c8c8c8;
  padding: 15px;
  border-radius: 50%;
  transition: all 0.5ms linear;
}

.radio-button-form .warning {
  background-color: #c8c8c8;
  padding: 15px;
  border-radius: 50%;
}
.radio-button-form .danger {
  background-color: #c8c8c8;
  padding: 15px;
  border-radius: 50%;
}
.radio-button-form .info {
  background-color: #c8c8c8;
  padding: 15px;
  border-radius: 50%;
}
.radio-button-form .good:hover {
  background-color: #36b416;
}

.radio-button-form .warning:hover {
  background-color: #ffa536;
}
.radio-button-form .danger:hover {
  background-color: #ff2323;
}
.radio-button-form .info:hover {
  background-color: #0085ff;
}
/* .radio-button-form .good:active {
  background: #1356dd;
  transform: translateY(2px); 
} */
.radio-button-form input[type="radio"]:checked + .good {
  background-color: #36b416; /* Change to your desired background color */
  color: white; /* Add a contrasting text color for better visibility */
}
.radio-button-form input[type="radio"]:checked + .warning {
  background-color: #ffa536; /* Change to your desired background color */
  color: white; /* Add a contrasting text color for better visibility */
}
.radio-button-form input[type="radio"]:checked + .danger {
  background-color: #ff2323; /* Change to your desired background color */
  color: white; /* Add a contrasting text color for better visibility */
}
.radio-button-form input[type="radio"]:checked + .info {
  background-color: #0085ff;
  /* Change to your desired background color */
  color: white; /* Add a contrasting text color for better visibility */
}
/* .radio-button-form input[type="radio"] {
  --webkit-appearance: none;
  --moz-appearance: none;
  position: relative;
  height: var(--radio-size);
  width: var(--radio-size);
  outline: none;
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--radio);
  background: #fff;
  border-radius: 50%;
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: border 0.5s ease;
  visibility: hidden;
} */

.radio-button-form input[type="radio"]::before,
.radio-button-form input[type="radio"]::after {
  content: "";
  display: flex;
  justify-self: center;
  border-radius: 50%;
}

.radio-button-form input[type="radio"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: 1;
  opacity: var(--opacity);
}

.radio-button-form input[type="radio"]::after {
  position: relative;
  width: calc(100% / 2);
  height: calc(100% / 2);
  background: var(--radio-checked);
  top: var(--y, 100%);
  transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.radio-button-form input[type="radio"]:checked {
  --radio: var(--radio-checked);
}

.radio-button-form input[type="radio"]:checked::after {
  --y: 0%;
  animation: stretch-animate 0.3s ease-out 0.17s;
}

.radio-button-form input[type="radio"]:checked::before {
  --opacity: 0;
}

.radio-button-form input[type="radio"]:checked ~ input[type="radio"]::after {
  --y: -100%;
}

.radio-button-form input[type="radio"]:not(:checked)::before {
  --opacity: 1;
  transition: opacity 0s linear 0.5s;
}

@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }

  28% {
    transform: scale(1.15, 0.85);
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
}

.socials > a {
  display: block;
  width: 30px;
  opacity: 0.2;
  transform: scale(var(--scale, 0.8));
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

.socials > a:hover {
  --scale: 1;
}

/* !Radion buttons Urgent */
/* ! OBSERVATION BOX CONTENT */
.observation-box {
  /* background: #eeee; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.observation-box > div {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
}
.observation-box .good-container {
  display: flex;
  /* gap: 1px; */
  align-items: flex-start;
  /* justify-content: space-between; */
  background-color: #c8ffe0;
  padding: 4px 8px;
  border-radius: 5px;
  width: 100%;
}
.observation-box .good {
  background-color: #36b416;
  padding: 12px;
  border-radius: 50%;
  margin-right: 15px;
}
.observation-box .good-container span {
  width: 100%;
  align-self: flex-start;
  top: 50%;
  left: 90%;
}
.observation-box .warning-container {
  display: flex;
  /* gap: 1px; */
  align-items: flex-start;
  /* justify-content: space-between; */
  background-color: #faf0e4;
  padding: 4px 8px;
  border-radius: 5px;
  width: 100%;
}
.observation-box .warning {
  background-color: #ffa536;
  padding: 12px;
  border-radius: 50%;
  margin-right: 15px;
}
.observation-box .warning-container span {
  width: 100%;
  align-self: flex-start;
  top: 50%;
  left: 90%;
}
.observation-box .danger-container {
  display: flex;
  /* gap: 1px; */
  align-items: flex-start;
  /* justify-content: space-between; */
  background-color: #f5eaea;
  padding: 4px 8px;
  border-radius: 5px;
  width: 100%;
}
.observation-box .danger {
  background-color: #ff2323;
  padding: 12px;
  border-radius: 50%;
  margin-right: 15px;
}
.observation-box .danger-container span {
  width: 100%;
  align-self: flex-start;
  top: 50%;
  left: 90%;
}
.observation-box .info-container {
  display: flex;
  /* gap: 1px; */
  align-items: flex-start;
  /* justify-content: space-between; */
  background-color: #69b4ff54;
  padding: 4px 8px;
  border-radius: 5px;
  width: 100%;
}
.observation-box .info {
  background-color: var(--dark-blue);
  padding: 12px;
  border-radius: 50%;
  margin-right: 15px;
}
.observation-box .info-container span {
  width: 100%;
  align-self: flex-start;
  top: 50%;
  left: 90%;
}
/* ! OBSERVATION BOX CONTENT */
/* ! Confirmation Modal */
.confirm-modal {
  text-align: center;
  background: #fff;
  backdrop-filter: blur(300px);
  padding: 1rem;
  color: var(--dark-blue);
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
  position: "absolute";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  border-top: 6px solid #50cb93;
}
.confirm-btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form-header h4,
.form-header p {
  margin: 0;
}
.form-header {
  background-color: #7b4f8e;
  /* margin: 10px; */
  border-radius: 8px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  margin-bottom: 5px;
  /* gap: 150px; */
}
.form-header .next-send {
  display: flex;
  align-items: center;
  /* gap: 15; */
  background: #fff;
  border-radius: 4px;
  padding: 6px 10px;
  width: 45%;
}
.form-header .next-send h4 {
  font-size: 15px;
}
.form-header .next-send span {
  margin-left: 5px;
  font-size: 16px;
}

.batiment-form {
  height: 100%;
  background-color: #fff;
  border: 0.5px solid #000;
  border-radius: 4px;
  margin: 0px 10px;
  padding: 0px 10px;
  margin-bottom: 5px;
}
.batiment-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.batiment-form .form-box {
  width: 49.5%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin: 5px 0;
  /* background-color: #00bfff; */
}
.batiment-form .form-box label {
  width: 100%;
}
.batiment-form .form-box label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  background: #fff;
  border-radius: 5px;
}

.batiment-form .form-box label .input + span {
  position: absolute;
  left: 10px;
  top: 10px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.batiment-form .form-box label .input:placeholder-shown + span {
  top: 0px;
  font-size: 0.9em;
}

.batiment-form .form-box label .input:focus + span,
.batiment-form .form-box label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.batiment-form .form-box label .input:valid + span {
  color: green;
}
.observation-modal .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  background: #fff;
  border-radius: 5px;
}
.observation-modal .input + span {
  position: absolute;
  left: 10px;
  top: 10px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
