@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.modification-container {
  /* background: #d3d3d3; */
  /* height: calc(100vh - 55px); */
  padding: 0 15px;
  overflow: hidden;
  position: relative;
}
p {
  margin: 0;
}
.modification-container .modification-table-footer {
  margin-top: 15px;
  position: absolute;
  top: 97%;
  transform: translateY(-100%);
  background: #fef2f4;
  border-radius: 6px;
  padding: 4px 6px;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modification-container .modification-table-footer h4 {
  margin: 0;
  color: #5e5e5e;
}
.modification-container .modification-table-footer h4 span {
  margin-left: 4px;
  font-size: 20px;
  color: var(--red-color);
}

.modification-container .modification-table-header {
  /* background: #fff; */
  border-radius: 6px;
  padding: 5px;
  /* padding-bottom: 25px; */
  display: flex;
  gap: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modification-table-header .input-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  width: 50%;
  position: relative;
}
.input-container .fetch-btn {
  border: none;
  height: fit-content;
  position: relative;
  right: 0;
  border-radius: 4px;
  cursor: pointer;
  /* font-weight: 700; */
  font-size: 15px;
  word-spacing: 2px;
}
/* Input field */
.modification-table-header .input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}

/* Input label */
.modification-table-header .input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.modification-table-header .input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.modification-table-header .input-field:focus + .input-label {
  top: -15px;
  font-size: 12px;
  color: #007bff;
}

.modification-table-header
  .input-field:focus
  + .input-label
  + .input-highlight {
  width: 100%;
}
.modification-table-header .header-lot-container,
.batiment-form .header-lot-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background: #fff;
  padding: 4px;
  border-radius: 6px;
}
.header-lot-container .content-box {
  background: #eee;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
  padding: 5px;
}
.header-lot-container .content-box .header-content {
  display: flex;
  align-items: center;
}
.header-content span {
  /* color: #e86a33; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.modification-container .modification-table-container {
  background: #fff;
  margin-bottom: 60px;
  border-radius: 6px;
  padding: 0;
  padding-top: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  height: 70vh;
  color: #000;
}
.modification-table-container table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  position: relative;
}
.modification-table-container table .main-header {
  background-color: #673ab7;
  color: #fff;
}

.modification-table-container table .third-header {
  background-color: #e9aa2b;
  color: #000;
  visibility: hidden;
  display: none;
}
.modification-table-container table .third-header th {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 6px;
  white-space: nowrap;
}
.third-header .show-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* background: #a9a9a9; */
  /* height: 100%; */
  cursor: pointer;
}
.modification-table-container table .active-tr {
  background-color: #ffc941;
  font-size: 15px !important;
}
.modification-table-container table .sticky-header {
  position: sticky;
  top: 0;
  background-color: #b6ccd8;
  color: #000;
  width: 100%;
  z-index: 1000;
  overflow: scroll;
}

.modification-table-container table thead .second-header > td {
  padding: 4px;
  font-size: 12px;
  font-weight: normal;
  /* width: 100%; */
  white-space: nowrap;
  font-weight: 400;
}
.hidden {
  display: none;
}
.modification-table-container table .main-header > th {
  padding: 4px 8px;
  border-right: 1px solid #000;
  white-space: nowrap;
  cursor: pointer;
}
.modification-table-container table .main-header .th-child {
  background: #000;
  width: 100%;
}
.modification-table-container .weekly-body-tr {
  background-color: #fefdf9;
  font-size: 15px !important;
}
.modification-table-container .daily-tr {
  font-size: 13px;
  color: #333 !important;
}
.modification-table-container table td {
  /* width: 100%; */
  /* padding: 2px; */
  /* font-size: 13px; */
  font-weight: 400;
  text-align: center;
  border-right: 1px solid #111;
  border-top: 0.5px solid #111;
  border-bottom: 0.5px solid #9e9e9e;
  white-space: nowrap;
  padding: 2px 4px;
  font-weight: 500;
  /* letter-spacing: 1.5px; */
  font-weight: 400;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
table .my-tbody {
  border-top: 2px solid #c0826198;
}
table .my-tbody-active td {
  font-weight: bold !important;
  font-size: 15px;
}
table .my-tbody-active {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  background-color: #fef39fbd;
}

table .daily-data td {
  border-right: 1px solid #000000 !important;
  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #999;
}

table .daily-data div {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  border-right: 1px solid #333;
  border-top: 0.5px solid #000000;
  border-bottom: 0.5px solid #333;
  border: none;
  white-space: nowrap;
}

.red {
  background-color: #fcd0cf;
  color: var(--red-color);
}
.orange {
  background-color: #f2e8c6;
  color: #b86b07;
}

.red div p,
.orange div p,
.green div p {
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}
.green {
  background-color: #c5f2c7;
  color: var(--green-color);
}
/* Action buttons */
.actions {
  display: flex;
  justify-content: center;
  padding: 2px 15px;
  gap: 5px;
  position: relative;
}
.disabled {
  display: none;
}
.actions button {
  border: none;
  background: none;
  /* padding: 2px 5px; */
  margin: 2px;
}
.actions button svg {
  font-size: 16px;
}
.actions .download {
  background-color: #86efac;
  border-radius: 4px;
  color: var(--green-color);
  cursor: pointer;
}
.download.download-btn {
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  gap: 10;
  position: absolute;
  right: 5%;
  width: fit-content;
}

.download.download-btn span {
  margin-right: 4px;
  font-size: 15px;
  font-weight: 600;
}
.actions .download:hover {
  transition: 0.3s linear;
  background-color: var(--green-color);

  color: #fff;
}
.actions .show-action {
  background-color: #71c4ef;
  border-radius: 4px;
  color: #00619a;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.actions .show-action:hover {
  transition: 0.3s linear;
  background-color: #00619a;
  color: #fff;
}
.actions .delete {
  background-color: #ffbfab;
  border-radius: 4px;
  color: var(--red-color);
  cursor: pointer;
}
.actions .delete:hover {
  transition: 0.3s linear;
  background-color: var(--red-color);
  color: #fff;
}
.actions .edit {
  background-color: #f3c8b68b;
  border-radius: 4px;
  color: #e86a33;
  cursor: pointer;
}
.actions .edit:hover {
  transition: 0.3s linear;
  background-color: #e86a33;
  color: #fff;
}

/* .modification-table-container table  th:last-child {
  /* border: none; */
/* } */
*/

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.week {
  background: #ffffff;
}

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-27 14:17:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(0, 64, 255, 0.2) 33%, #0004ff 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1000;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #eee;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* /////////////// */
.viability {
  /* background: #ffe0c8; */
  color: #0d1f2d;
}
.main-header .viability {
  background: #ffe0c8;
  color: #0d1f2d;
}

.main-header .production-header {
  background: #8b4513;
  color: #fff;
}
.production-header {
  /* background: #8b4513; */
  color: #fff;
}

.main-header .consommation {
  background: #61bc84;
  color: #1e1e1e;
}
.main-header .observ-header {
  background: #e57373;
  color: #1e1e1e;
}
.consommation {
  /* background: #61bc84; */
  color: #1e1e1e;
}
.main-header .reforme {
  background: #546e7a;
  color: #eceff1;
}

.calendrie {
  /* background: #ff7f50; */
  color: #1e1e1e;
}
.main-header .calendrie {
  background: #ff7f50;
  color: #1e1e1e;
}
.main-header .ambiance {
  background: #61dafb;
  color: #22223b;
}
.ambiance {
  /* background: #61dafb; */
  color: #22223b;
}
.constats {
  background: #ffc000;
  color: #333;
}

.masse-oeuf {
  background-color: #eb9c64;
  color: #1e1e1e;
}
.ic-header {
  background-color: #ffe992;
  color: #1e1e1e;
}
.viability span,
.production-header span,
.consommation span,
.calendrie span,
.masse-oeuf span,
.ic-header span,
.ambiance span,
.reforme span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.border-right {
  border-right: 1px solid #000 !important;
}
.border-left {
  border-left: 1px solid #000 !important;
}
.daily-data .border-top {
  border-top: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
}
h4 {
  margin: 0;
}

.input-container label {
  position: relative;
}

.input-container label .input {
  width: 200%;
  flex: 1;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  background: #fff;
  border-radius: 5px;
}

.input-container label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.input-container label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.input-container label .input:focus + span,
.input-container label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.input-container label .input:valid + span {
  color: green;
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-5 16:8:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
