.css-uob957-MuiListSubheader-root {
  padding: 0 5px !important;
}
#chart {
  height: 100% !important;
  width: 100% !important;
}
#chart_alt {
  height: 100% !important;
  width: 100% !important;
}
#chart_conso {
  height: 100% !important;
  width: 100% !important;
}
#chart_homog {
  height: 100% !important;
  width: 100% !important;
}
#chart_mort {
  height: 100% !important;
  width: 100% !important;
}
#chart_masse {
  height: 100% !important;
  width: 100% !important;
}
#chart_temp {
  height: 100% !important;
  width: 100% !important;
}
#chart_light {
  height: 100% !important;
  width: 100% !important;
}
#chart_mort {
  /* height: 100% !important; */
  width: 100% !important;
}
